
body {
    background-color: #3a3a3a;
}

.headermenu ul {
    display: flex;
    list-style: none;
    gap: 240px;
    
}


.headermenu ul li a {
    text-decoration: none;
    color: #484242;
    font-size: 18px;
    font-weight: 500;
  
    display: inline-block;  
}

.headermenu ul li a:hover {
    color: #8e4f8b;
}
.bg-peach {
    background-color: #e8c5b5;
}


.bg-light-yellow {
    background-color: #f5f3d4;
}


.bg-pink {
    background-color: #f5d4e5;
}


.item-image {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    object-fit: cover;
}


.qty-btn {
    width: 32px;
    height: 32px;
}

/* cssss is sooo weirdddd*/
.add-more-btn {
    width: 45px;
    height: 45px;
    font-size: 28px;
}


.order-summary {
    margin-top: auto;
}

.order-summary h3 {
    text-decoration: underline;
}

.order-summary hr {
    border: 2px solid #000;
    opacity: 1;
}


.order-summary .bg-white strong:first-child {
    color: #dc3545;

}


