@font-face {
  font-family: font1;
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}
body {
    background-image: linear-gradient(to right, #FFF9D0,#FFF2F8, #FFCCEE); 
    min-height: 100vh; 
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.input-box .input-field{

  width:100%;
  height:60px;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border:none;
  
}
#phone{
  text-align: left;
  width:100%;
  height: 30px;
color: rgb(227, 194, 255);
background-color: #FFE2FF;
border-radius: 96px;
border-width: 0;

padding: 10px 20px; 
}
#name{
  text-align: left;
  width:100%;
  height: 30px;
color: rgb(227, 194, 255);
background-color: #FFE2FF;
border-radius: 96px;
border-width: 0;

padding: 10px 20px; 

}

#bu
{text-align: center;
  width:100%;
  height: 40px;
color: rgb(255, 255, 255);
background-color: #987398;
border-radius: 30px;
padding: 10px 20px; 
border-width: 0;
  }
  .blockk {
    background: white;
    border-radius: 120px;
    padding: 60px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-family: font1;
}
  #mail
{text-align: left;
  width:100%;
  height: 30px;
  border-radius: 30px;
color: rgb(227, 194, 255);
background-color: #FFE2FF;
border-width: 0;
padding: 10px 20px; 
  }
   #pass
{text-align: left;
  width:100%;
  height: 30px;
color: rgb(227, 194, 255);
background-color: #FFE2FF;
border-radius: 96px;
border-width: 0;
padding: 10px 20px; 
  }
  h1{
    text-align: center;
    color: #484242;
    font-family:font1;
  }
  #bu:hover {
  background-color: #D7ADD7; 
  }
 