body {
    font-family: 'Arial', sans-serif;
    background-color: #fffce8;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fffce8;
    padding: 20px;  
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 0;
    background-color: white;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
   margin-left: 250px;
    
    transition: 0.3s;
}

nav a:hover {
    color: #8e4f8b;

}



.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background-color: #ffe0eb;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.card-details {
    text-align: left;
}

.card-details h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #000;
}

.card-details p {
    margin: 0;
    color: #555;
    font-size: 14px;
}

.price {
    font-weight: bold;
    margin-top: 5px !important;
    display: block;
}

.add-btn {
    margin-top: 10px;
    border: none;
    background: transparent;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    text-decoration: underline;
}
footer {
    background-color: #ffffff;
    padding: 40px 10px 20px;
    
}

.footer-block {
    display: flex;
    justify-content: center;
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.foooter {
    text-align: left;
}

.footer-block h5 {
    color: #484242;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-block a {
    display: block;
    color: #666;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px;
}

.footer-block a:hover {
    color: #8e4f8b;
}

.footer-block p {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
    max-width: 250px;
}

.subscribe-btn {
    background-color: #987398;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 14px;
}

.subscribe-btn:hover {
    background-color: #C8A2C8;
}
.active {
    font-weight: bold;
    background-color: #b38cb7; /* Darker Purple */
    color: white;
}


